<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Kwasi Boateng</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
 <h2 style="background-color: #C4DAD2;"><img src="images/mortarboard.png" width="30"> Education</h2>

    
    <a href="index.html"><button>Home</button></a>
    <a href="experience.html"><button>Experience</button></a>
    <a href="skills.html"><button>Skills</button></a>
    <a href="certificates.html"><button>Certificates</button></a>

    <br> 
    <br>

    <img src="images/CC_505_horiz.jpg" width="100"> 
    <h2>Cambrian College</h2>
    <p>Post-graduate Certificate in Business Analytics</p>
    <p>May 2024 - </p>
    <p>Sudbury, Ontario, Canada</p>


    <br> 
    <br> 

    <img src="images/Fh Swf.png" width="100"> 
    <h2>South Westphalia University of Applied Sciences</h2>
    <p>BA Busines Informatics</p>
    <p>September 2018 - July 2022</p>
    <p>Soest, North Rhine Westphalia, Germany</p>




  </center>
  <script src="script.js"></script>
</body>