<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Kwasi Boateng</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
 <h2 style="background-color: #C4DAD2;"><img src="images/portfolio.png" width="30"> Experience</h2>

    
    <a href="index.html"><button>Home</button></a>
    <a href="certificates.html"><button>Certificates</button></a>
    <a href="skills.html"><button>Skills</button></a>
    <a href="education.html"><button>Education</button></a>

    <br> 
    <br>

    <img src="images/istockphoto-458082353-612x612.jpg" width="100"> 
    <h2>Data Entry Specialist</h2>
    <p>Edeka Logistics Centre</p>
    <p>March 2022 - April 2024</p>
    <p>Hamm, North Rhine Westphalia, Germany</p>
    
    
    <br> 
    <br> 

    <img src="images/Henkel.png" width="100"> 
    <h2>Data Analyst Intern</h2>
    <p>Henkel</p>
    <p>March 2021 - February 2022</p>
    <p>Dusseldorf, North Rhine Westphalia, Germany</p>



  <br> 
  <br> 
  
    <img src="images/HIGHWAYS OFFICIAL LOGO 1.jpg" width="100"> 
    <h2>Junior Accountant</h2>
    <p>Ghana Highway Authority</p>
    <p>July 2014 - August2018</p>
    <p>Accra, Greater Accra, Ghana</p>



  </center>
  
  <script src="script.js"></script>
</body>