<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Kwasi Boateng</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
    <h2 style="background-color: #6A9AB0;">Welcome to my Website my name is</h2>
  <b style="background-color: #CB80AB;"> Kwasi Boateng</b>
    <br>
    <br>
    <img src="images/WhatsApp Image 2024-09-11 at 18.41.56_6bfa86fd.jpg" width="250">
    
    <!-- This is the About me section-->
    <p>As a Data Analyst, I specialize in transforming raw data into meaningful insights that help businesses make informed decisions. My experience spans the entire data lifecycle, from gathering and cleaning data to building comprehensive reports and dashboards. I have worked across various industries to optimize processes, enhance customer experiences, and drive operational efficiency through data-driven strategies.

    I am well-versed in data exploration, ensuring that large datasets are organized and cleaned properly to maintain high data quality. This allows me to uncover hidden trends and patterns that drive business value. I frequently use tools like Tableau, Power BI, and Excel to create intuitive visualizations that allow stakeholders to understand complex data at a glance.

    In addition to visualization, I leverage statistical analysis and predictive modeling to anticipate trends and identify key opportunities. My background in working with SQL, Python, and R allows me to extract and manipulate data efficiently, automating processes where possible to streamline workflows. These skills enable me to dive deep into datasets, finding actionable insights that align with business objectives.

    Let’s connect to discuss how I can help your business leverage data to achieve meaningful outcomes!

</p>
    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
    <a href="experience.html"><button>Experience</button></a>
    <a href="skills.html"><button>Skills</button></a>
    <a href="education.html"><button>Education</button></a>
    <a href="certifcates.html"><button>Certificates</button></a>

    <br>
    <br>
    <a href="Document/utrains-sample-resume-1.pdf">Resume</a>

    <br>
    <br>
    <table>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Grade</th>
        
      </tr>
      <tr>
        <td>ANA-1003-001</td>
        <td>Data Collection and Ethics</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;A</td>
      </tr>
      <tr>
        <td>ANA-1005-001</td>
        <td>Foundations of Analytics</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;A</td>
      </tr>
      <tr>
        <td>ANA-1004-001</td>
        <td>Statistics for Analytics</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;A</td>
      </tr>
      
    </table>


  </center>
  

  <script src="script.js"></script>
</body>

</html>