<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Website about Kwasi Boateng</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
 <h2 style="background-color: #C4DAD2;"><img src="images/skills.png" width="30"> Skills</h2>
  
    <a href="index.html"><button>Home</button></a>
    <a href="experience.html"><button>Experience</button></a>
    <a href="certificates.html"><button>Certificates</button></a>
    <a href="education.html"><button>Education</button></a>
<!-- This are my skills section-->
  <br>
     <h3>Excel</h3>
     <h3>Power BI</h3>
     <h3>PostgresSQL</h3>
     <h3>Python</h3>


  </center>
  <script src="script.js"></script>
</body>